*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background-image: url('../imagen/livros.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height:400px;
    
}
.titulo--h1{
    padding: 6px;
    color: #fff;
}
.titulo--h1::first-letter{
    color: red;
    font: normal 35px arial;
    font-weight: bolder;
}
h2{
    margin: 60px;
}
.my-scool {
        font-size: 60px;
        color: #cecece;
}
header span {
    font:normal 30px small-caption;
    color: #4c4c4c;
}
main {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main img{
    border-radius: 10%;
    padding: 10px;
    margin-top: 20px;
    max-width:600px;
    width: 100%;
}
aside {
    word-wrap: break-word;
    margin: 35px;
    color: #4c4c4c;
}
aside h3 {
    padding: 30px;
    font: normal 25px arial;
    color: #c46d6d;
}
section {
    background-color: rgba(0, 0, 0, 0.925);
}
section h4 {
    font: normal 30px arial;
    font-weight: bold;
    text-align: center;
    color: #c1c1c1;
    padding: 10px;
}
.container-section {
    width: 100%;
    height: 100%;
    display: flex;
    display: grid;
   
    grid-template-columns:repeat(4 , 1fr);
    grid-template-rows: repeat(3 ,200px);
}
.section-item{
    padding: 10px;
    text-align: center;
}
.section-item img {
    max-width:300px ;
    box-shadow: 3px 3px 5px #fff ;
    transition: ease 0.5s all;
    opacity: 0.5;
}
/* .section-item  */
.section-item img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.section-text{
    flex: 1;
    padding: 20px;
   max-width: 350px;
    word-wrap: break-word;
    color: #fff;
}

footer {    
    background-color: #17161d;
    height: 100%;
}
footer figure{
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
footer figcaption{
    display: flex;
    align-items: end;
    text-align: center;
    margin-left: 30px;
    word-wrap: break-word;
    width: 300px;
    
    color: #d4d4d3;
}
footer figcaption p {
    font-size: 18px;

}
footer figure img{
    width: 50%;
    height:300px ;
    box-shadow: 6px 6px 6px #fff;
    border-radius: 30%;
   

}
footer figure img:hover{
    filter: drop-shadow(6px 6px 6px #03fa);
}
.container-footer{
    
display: grid;
grid-template-columns: repeat(3, 1fr);
}
footer .social{
    display: flex;
    padding: 20px;
 
}
.linkdin{
    margin-left: 20px;
}
.endereco{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-weight: bold;
    font: normal 18px Arial;
}
 footer .endereco-info{
    margin-top: 20px;
} 
footer .copy{
    color: #c1c1c1;
    font-weight: bold;
    padding: 20px;
}
/*            Responsividade         */
@media (max-width:1000px) and (min-width:315px){
    main {
        background-color: #000;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main img{
        border-radius: 5%;
        padding: 10px;
        margin-top: 20px;
        max-width:600px;
        width: 100%;
    }
    aside {
        word-wrap: break-word;
        margin: 35px;
        color: #4c4c4c;
    }
    aside h3 {
        padding: 30px;
        font: normal 25px arial;
        color: #c46d6d;
        text-align: center;
    }

    section h4 {
        font: normal 20px arial;
        font-weight: bold;
        text-align: center;
        color: #c1c1c1;
        padding: 10px;
    }
    .container-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .section-item{
        text-align: center;
    }
    section  .section-item img {
        max-width:300px ;
        box-shadow: 3px 3px 5px #fff ;
        transition: ease 0.2s ease-in;
        opacity: 0.5;
    }
    section .section-item img:hover {
        transform: scale(1.1);
        opacity: 1;
    }
    .section-text{
        flex: 1;
        padding: 20px;
       max-width: 350px;
        word-wrap: break-word;
        color: #fff;
    }
    footer {
        background-color: #17161d;
        height: 100%;
    }

    footer figure{
        padding: 20px;
        display: flex;
        flex-direction: column;

        width: 100%;
        height: 100%;
    }
    footer figcaption{
        display: flex;
        padding-top: 20px;
      
        word-wrap: break-word;
        width: 200px;
        
        color: #d4d4d3;
    }
    footer figcaption p {
        font-size: 18px;
    
    }
    footer figure img{
        width: 100%;
        height:200px ;
        box-shadow: 6px 6px 6px #fff;
        border-radius: 20%;
       
    
    }
    footer figure img:hover{
        filter: drop-shadow(6px 6px 6px #03fa);
    }
    .container-footer{
        display: flex;
        flex-direction: column;
    
    }
    footer .social{
        display: flex;
        padding: 20px;
     
    }
    footer .linkdin{
        margin-left: 20px;
    }
    footer .endereco{
        padding-left: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #fff;
        font-weight: bold;
        font: normal 18px Arial;
    }
    footer .endereco-info{
        margin-top: 20px;
    } 
    footer .copy{
        color: #c1c1c1;
        font-weight: bold;
        padding: 20px;
    }
 
    

}
