*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background-image: url('../imagen/livros.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height:400px;
    
}
.titulo--h1{
    padding: 6px;
    color: #fff;
}
.titulo--h1::first-letter{
    color: red;
    font: normal 35px arial;
    font-weight: bolder;
}
h2{
    margin: 60px;
}
.my-scool {
        font-size: 60px;
        color: #cecece;
}
header span {
    font:normal 30px small-caption;
    color: #4c4c4c;
}
main {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

img{
    border-radius: 10%;
    padding: 10px;
    margin-top: 20px;
    max-width:600px;
    width: 100%;
}
aside {
    word-wrap: break-word;
    margin: 35px;
    color: #4c4c4c;
}
aside h3 {
    padding: 30px;
    font: normal 25px arial;
    color: #c46d6d;
}
footer {
    
    background-color: #17161d;
    height: 100%;
}
.container-footer{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
form{
   
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top:5px ;
    border-radius: 10px;
}
input{
    width: 200px;
    height: 30px;
        margin-top: 12px;
}
input::placeholder{
    text-align: center;
    color: red;
}
label {
    color: #07aaf5;
}
legend{
    font: normal 16px arial;
    color: red;
}
.social{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left:10px;
    color: rgb(121, 80, 80);
}
.contato{
    margin-top:10px;
    padding: 20px;
    color: #4c4c4c;
}
.contato .info {
    font: normal 20px small-caption;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aca0a0;
   
}
.info::after{
    content: '👉';
    
}
.copy {
    color: #df8b8b8c;
    padding: 20px;
}
.copy::first-letter{
    color: #fff;
}

legend {
    margin-bottom: 20px;
}
/*            Mobile           */
@media (max-width:1000px) and (min-width:350px){
    main {
        background-color: #000;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    img{
        border-radius: 5%;
        padding: 10px;
        margin-top: 20px;
        max-width:600px;
        width: 100%;
    }
    aside {
        word-wrap: break-word;
        margin: 35px;
        color: #4c4c4c;
    }
    aside h3 {
        padding: 30px;
        font: normal 25px arial;
        color: #c46d6d;
    }
    footer {
        background-color: #17161d;
        height: 100%;
    }
    .container-footer{
      display: flex;
      text-align: center;
      flex-direction: column;
      align-items: center;
    }
    form{
       
        width: 400px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;    
        margin-top:5px ;
        border-radius: 10px;
    }
    input{
        width: 200px;
        height: 30px;
            margin-top: 12px;
    }
    input::placeholder{
        text-align: center;
        color: red;
    }
    label {
        color: #07aaf5;
    }
    legend{
        font: normal 16px arial;
        color: red;
    }
    .social{
        display: flex;
        gap: 20px;
        margin-top: 20px;
        margin-left:10px;
        color: rgb(121, 80, 80);
    }
    .contato{
        margin-top:10px;
        padding: 20px;
        color: #4c4c4c;
    }
    .contato .info {
        font: normal 20px small-caption;
        margin: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #aca0a0;
       
    }
    .info::after{
        content: '👉';
        
    }
    .copy {
        color: #df8b8b8c;
        padding: 20px;
    }
    .copy::first-letter{
        color: #fff;
    }
    
    legend {
        margin-bottom: 20px;
    }

}

/* @media (max-width:600px) and (min-width:350) {
  
    main {
        background-color: #000;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    article{
        display: flex;
        align-items: center;
        justify-content: center;
    }
img{
    border-radius: 100px;
    padding: 10px;
    margin-top: 20px;
    max-width:600px;
    width: 100%;
}
aside {
    word-wrap: break-word;
    margin: 35px;
    color: #4c4c4c;
}
aside h3 {
    padding: 30px;
    font: normal 25px arial;
    color: #c46d6d;
}
footer {
    
    background-color: #17161d;
    height: 100%;
}
.container-footer{
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
}
form{
   text-align: center;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    margin-top:5px ;
    border-radius: 10px;
}
input{
    width: 200px;
    height: 30px;
        margin-top: 12px;
}
input::placeholder{
    text-align: center;
    color: red;
}
label {
    color: #07aaf5;
}
legend{
    font: normal 16px arial;
    color: red;
}
.social{
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left:10px;
    color: rgb(121, 80, 80);
}
.contato{
    margin-top:10px;
    padding: 20px;
    color: #4c4c4c;
}
.contato .info {
    font: normal 20px small-caption;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #aca0a0;
   
}
.info::after{
    content: '👉';
    
}
.copy {
    color: #df8b8b8c;
    padding: 20px;
}
.copy::first-letter{
    color: #fff;
}

legend {
    margin-bottom: 20px;
}
} */