*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    
    background-image: url('../imagen/livros.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height:400px;
    
}
.titulo--h1{
    padding: 6px;
    color: #fff;
}
.titulo--h1::first-letter{
    color: red;
    font: normal 35px arial;
    font-weight: bolder;
}
h2{
    margin: 60px;
}
.my-scool {
        font-size: 60px;
        color: #cecece;
}
header span {
    font:normal 30px small-caption;
    color: #4c4c4c;
}
main {
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

main img{
    border-radius: 10%;
    padding: 10px;
    margin-top: 20px;
    max-width:600px;
    width: 100%;
}
aside {
    word-wrap: break-word;
    margin: 35px;
    color: #4c4c4c;
}
aside h3 {
    padding: 30px;
    font: normal 25px arial;
    color: #c46d6d;
}
section {
    background-color: rgba(0, 0, 0, 0.925);
}
section h4 {
    font: normal 30px arial;
    font-weight: bold;
    text-align: center;
    color: #c1c1c1;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 10px;
}
.container-section {
    width: 100%;
    height: 100%;
    display: flex;
    display: grid;
   
    grid-template-columns:repeat(4 , 1fr);
    grid-template-rows: repeat(3 ,200px);
}
.section-item{
    padding: 10px;
    text-align: center;
}
.section-item img {
    max-width:300px ;
    box-shadow: 3px 3px 5px #fff ;
    transition: ease 0.5s all;
    opacity: 0.5;
}
/* .section-item  */
.section-item img:hover {
    transform: scale(1.1);
    opacity: 1;
}
.section-text{
    flex: 1;
    padding: 20px;
   max-width: 350px;
    word-wrap: break-word;
    color: #fff;
}

footer {    
    background-color: #17161d;
    height: 100%;
}
footer .container-footer {
    display: flex;
}

footer figure{
    display: flex;
    width: 100%;
    height: 50%;
}
footer  img{
    padding: 20px;
    height: 300px;
    filter:drop-shadow( 6px 6px 6px #fff);
}
footer .image-rodape{
    background-color: rgba(187, 187, 187, 0.247)e7e;
    border: 1px solid #000;
    box-shadow:6px 10px  ;
    display: flex;
    width: 40%;
}
footer figcaption{
    margin-top: 20px;
    padding-left: 20px;
    padding-top: 30px;
    width:50%;
    word-wrap: break-word;
    height: 210px;
    text-align: center;
    color:#c1c1c1;
}
footer figcaption > span{
    color: #fff;
    font-size: 18px;    
}
figcaption p {
    padding: 20px;
}
footer .endereco-info{
    padding: 20px;
}

footer .endereco{
    color: #fff;
    margin: 20px 20px;
}
footer .endereco span{
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4c4c4c;
}
footer .social{
    display: flex;
    margin: 20px 10px;
    gap: 20px;
}
footer .copy{
  color: #c1c1c1;
  padding: 20px;
}
/*            Responsividade         */
@media (max-width:1000px) and (min-width:315px){
    main {
        background-color: #000;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main img{
        border-radius: 5%;
        padding: 10px;
        margin-top: 20px;
        max-width:600px;
        width: 100%;
    }
    aside {
        word-wrap: break-word;
        margin: 35px;
        color: #4c4c4c;
    }
    aside h3 {
        padding: 30px;
        font: normal 25px arial;
        color: #c46d6d;
        text-align: center;
    }

    section h4 {
        font: normal 20px arial;
        font-weight: bold;
        text-align: center;
        color: #c1c1c1;
        padding: 10px;
    }
    .container-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

    }
    .section-item{
        text-align: center;
    }
    section  .section-item img {
        max-width:300px ;
        box-shadow: 3px 3px 5px #fff ;
        transition: ease 0.2s ease-in;
        opacity: 0.5;
    }
    section .section-item img:hover {
        transform: scale(1.1);
        opacity: 1;
    }
    .section-text{
        flex: 1;
        padding: 20px;
       max-width: 350px;
        word-wrap: break-word;
        color: #fff;
    }
    footer {    
        background-color: #17161d;
        height: 100%;
    }
    footer .container-footer {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    footer figure{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50%;
    }
    footer  img{
        padding: 20px;
        min-height: 200px;
        filter:drop-shadow( 6px 6px 6px #fff);
    }
    footer .image-rodape{
        display: flex;
        width: 40%;
        word-wrap: break-word;
    }
    footer figcaption{
        margin-top: 20px;
        padding-left: 10px;
        padding-top: 20px;
        width:100%;
        word-wrap: break-word;
        text-align: center;
        height: 110px;
        text-align: center;
        font-size: 15px;
        color:#c1c1c1;
    }
    footer .endereco-info{
        
        text-align: center;
        padding:  20px 20px;
        font-size: 15px;
    }
    footer .endereco span{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #4c4c4c;
        
    }
    footer .endereco{
        color: #fff;
        margin: 20px 20px;
        
    }
    footer .social{
        
        display: flex;
        margin: 10px 7px;
        gap: 20px;
    }
    footer .copy{
      color: #c1c1c1;
      padding: 10px;
      text-align: right;
    }
}
